
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;

}

.App {
  text-align: center;
}

.input {
  width: 50%;
  margin: auto;
}

.submit {
  margin: auto;
}

.dip {
  text-align: center;
  width: 250px;
  height: 100px;
  background-color: #4F46E5;
  color: white;
  border-radius: 8px;
  margin: 15px;
}
